body {
    background-color: #2E2E2E !important;
    color: #E8676E!important;
}

.container {
    min-height: 100vh;
    background-color: #2E2E2E !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card {
    background-color: #2E2E2E !important;
    color:#E8676E !important;
    border-color: #E8676E !important;
}

.mb-3 {
    cursor: pointer;
}

.answer_container:hover {
    color: #2E2E2E !important;
    background-color:#E8676E !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.question_footer {
    display: flex;
    justify-content: space-between;
}

.card-img-top {
    height: 50vh;
    object-fit: contain;
}

.btn {
    border-color: #E8676E !important;
    color: #E8676E !important;
}

.btn:hover {
    color: #2E2E2E !important;
    background-color:#E8676E !important;
}

.bg-success {
    color: white !important;
}

.bg-warning {
    color:#2E2E2E !important;
    border-style: none !important;
}

.bg-success:hover{
    color: white !important;
}

.trophy {
    height: 50vh;
    width: 100%;
    object-fit: contain;
}

.center {
    text-align: center;
}

.final_headline {
    font-size: 38px;
    margin-bottom: 8px;
}

.progress {
    background-color: #2E2E2E !important;
}

.progress-bar {
    background-color: #E8676E !important;
    color: #2E2E2E !important;
}

.restart_button {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

